<ifmodule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^index.html$ / [L,R=301]
RewriteRule ^index.htm$ / [L,R=301]
RewriteRule ^index.asp$ / [L,R=301]
RewriteRule ^index.phtml$ / [L,R=301]

RewriteCond %{HTTP_USER_AGENT} ^rogerbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^exabot [OR]
RewriteCond %{HTTP_USER_AGENT} ^MJ12bot [OR]
RewriteCond %{HTTP_USER_AGENT} ^dotbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^gigabot [OR]
RewriteCond %{HTTP_USER_AGENT} ^AhrefsBot
RewriteRule .* - [F]


# BEGIN OldUrls

RewriteRule ^drupal-8$ files/drupal-8.html [L]
RewriteRule ^blog/drupal/drupal-8-ready-production-use$ files/blog-drupal-drupal-8-ready-production-use.html [L]
RewriteRule ^blog/drupal/\/sites\/all\/modules\/radioactivity\/emit.php$ files/blog-drupal-\-sites\-all\-modules\-radioactivity\-emit.html [L]
RewriteRule ^blog/drupal/\/sites\/all\/modules\/radioactivity\/*$ files/blog-drupal-\-sites\-all\-modules\-radioactivity\.html [L]
RewriteRule ^blog/drupal-development$ files/blog-drupal-development.html [L]
RewriteRule ^blog/business-stuff/new-site-launched-nemog-york-university$ files/blog-business-stuff-new-site-launched-nemog-york-university.html [L]
RewriteRule ^blog/business-stuff/\/sites\/all\/modules\/radioactivity\/emit.php$ files/blog-business-stuff-\-sites\-all\-modules\-radioactivity\-emit.html [L]
RewriteRule ^blog/business-stuff/\/sites\/all\/modules\/radioactivity\/*$ files/blog-business-stuff-\-sites\-all\-modules\-radioactivity\.html [L]
RewriteRule ^blog/contributors/curve-agency$ files/blog-contributors-curve-agency.html [L]
RewriteRule ^blog/drupal-developers-senior-roles$ files/blog-drupal-developers-senior-roles.html [L]
RewriteRule ^blog/\/sites\/all\/modules\/radioactivity\/emit.php$ files/blog-\-sites\-all\-modules\-radioactivity\-emit.html [L]
RewriteRule ^blog/\/sites\/all\/modules\/radioactivity\/*$ files/blog-\-sites\-all\-modules\-radioactivity\.html [L]
RewriteRule ^blog/theming-drupal-forms-js$ files/blog-theming-drupal-forms-js.html [L]
RewriteRule ^blog/user-research-manchester-s-museum-science-and-industry$ files/blog-user-research-manchester-s-museum-science-and-industry.html [L]
RewriteRule ^blog/why-weve-sponsored-drupal-camp-north$ files/blog-why-weve-sponsored-drupal-camp-north.html [L]
RewriteRule ^blog/drupalcamp-north-east-2014-business-day$ files/blog-drupalcamp-north-east-2014-business-day.html [L]
RewriteRule ^blog/events$ files/blog-events.html [L]
RewriteRule ^blog/top-digital-trends-2014-camp-digital-keynote$ files/blog-top-digital-trends-2014-camp-digital-keynote.html [L]
RewriteRule ^tags/events$ files/tags-events.html [L]
RewriteRule ^tags/future$ files/tags-future.html [L]
RewriteRule ^tags/trends$ files/tags-trends.html [L]
RewriteRule ^tags/technology$ files/tags-technology.html [L]
RewriteRule ^blog/contributors/tom$ files/blog-contributors-tom.html [L]
RewriteRule ^blog/events/digital-pm-2014-conference-pm-side-pizza$ files/blog-events-digital-pm-2014-conference-pm-side-pizza.html [L]
RewriteRule ^blog/events/\/sites\/all\/modules\/radioactivity\/emit.php$ files/blog-events-\-sites\-all\-modules\-radioactivity\-emit.html [L]
RewriteRule ^tags/project-management$ files/tags-project-management.html [L]
RewriteRule ^tags/digital$ files/tags-digital.html [L]
RewriteRule ^tags/event$ files/tags-event.html [L]
RewriteRule ^tags/manchester$ files/tags-manchester.html [L]
RewriteRule ^tags/2014$ files/tags-2014.html [L]
RewriteRule ^blog/contributors/lucy$ files/blog-contributors-lucy.html [L]
RewriteRule ^blog/visit-bradford-animation-festival-2013$ files/blog-visit-bradford-animation-festival-2013.html [L]
RewriteRule ^tags/bradford-animation-festival$ files/tags-bradford-animation-festival.html [L]
RewriteRule ^tags/baf$ files/tags-baf.html [L]
RewriteRule ^tags/festival$ files/tags-festival.html [L]
RewriteRule ^tags/animation$ files/tags-animation.html [L]
RewriteRule ^blog/drupal-apprenticeship-mentoring$ files/blog-drupal-apprenticeship-mentoring.html [L]
RewriteRule ^blog/innovation-music-drupal-drupalcon-prague-session$ files/blog-innovation-music-drupal-drupalcon-prague-session.html [L]
RewriteRule ^tags/musescore$ files/tags-musescore.html [L]
RewriteRule ^tags/music$ files/tags-music.html [L]
RewriteRule ^tags/score$ files/tags-score.html [L]
RewriteRule ^tags/transcription$ files/tags-transcription.html [L]
RewriteRule ^tags/drupal$ files/tags-drupal.html [L]
RewriteRule ^tags/open-source$ files/tags-open-source.html [L]
RewriteRule ^tags/multilingual$ files/tags-multilingual.html [L]
RewriteRule ^tags/collaboration$ files/tags-collaboration.html [L]
RewriteRule ^blog/automated-acceptance-testing-behat$ files/blog-automated-acceptance-testing-behat.html [L]
RewriteRule ^tags/behat$ files/tags-behat.html [L]
RewriteRule ^tags/drupal-development$ files/tags-drupal-development.html [L]
RewriteRule ^tags/testing$ files/tags-testing.html [L]
RewriteRule ^blog/contributors/nathan$ files/blog-contributors-nathan.html [L]
RewriteRule ^blog/user-experience-design/quick-guide-user-stories-gathering-website-and-app-requirements$ files/blog-user-experience-design-quick-guide-user-stories-gathering-website-and-app-requirements.html [L]
RewriteRule ^blog/drupal-camp-scotland-2013-round$ files/blog-drupal-camp-scotland-2013-round.html [L]
RewriteRule ^tags/drupal-camp$ files/tags-drupal-camp.html [L]
RewriteRule ^blog/contributors/andrew$ files/blog-contributors-andrew.html [L]
RewriteRule ^blog/drupal-camp-north-west-2012-business-day$ files/blog-drupal-camp-north-west-2012-business-day.html [L]
RewriteRule ^tags/review$ files/tags-review.html [L]
RewriteRule ^tags/aglie$ files/tags-aglie.html [L]
RewriteRule ^tags/development$ files/tags-development.html [L]
RewriteRule ^blog/contributors/matt$ files/blog-contributors-matt.html [L]
RewriteRule ^blog/events/drupal-camp-north-west-2012$ files/blog-events-drupal-camp-north-west-2012.html [L]
RewriteRule ^tags/drupal-drupal-camp$ files/tags-drupal-drupal-camp.html [L]
RewriteRule ^blog/contributors/craig$ files/blog-contributors-craig.html [L]
RewriteRule ^blog/leeds-front-end-design-and-development-event$ files/blog-leeds-front-end-design-and-development-event.html [L]
RewriteRule ^tags/front-end$ files/tags-front-end.html [L]
RewriteRule ^blog/svg-png-fallback$ files/blog-svg-png-fallback.html [L]
RewriteRule ^tags/design$ files/tags-design.html [L]
RewriteRule ^blog/parallax-scrolling-good-bad-and-questionable$ files/blog-parallax-scrolling-good-bad-and-questionable.html [L]
RewriteRule ^blog/typography-trends$ files/blog-typography-trends.html [L]
RewriteRule ^blog/flat-design-skeuomorphism-and-ios7$ files/blog-flat-design-skeuomorphism-and-ios7.html [L]
RewriteRule ^blog/adobe-edge-reflow-first-impressions$ files/blog-adobe-edge-reflow-first-impressions.html [L]
RewriteRule ^blog/vacancy-ux-design-lead-leeds$ files/blog-vacancy-ux-design-lead-leeds.html [L]
RewriteRule ^blog/installing-git-plesk$ files/blog-installing-git-plesk.html [L]
RewriteRule ^tags/deployment$ files/tags-deployment.html [L]
RewriteRule ^tags/git$ files/tags-git.html [L]
RewriteRule ^tags/workflow$ files/tags-workflow.html [L]
RewriteRule ^blog/contributors/dan$ files/blog-contributors-dan.html [L]
RewriteRule ^blog/content$ files/blog-content.html [L]
RewriteRule ^blog/best-uses-video-content$ files/blog-best-uses-video-content.html [L]
RewriteRule ^tags/content$ files/tags-content.html [L]
RewriteRule ^tags/video$ files/tags-video.html [L]
RewriteRule ^tags/marketing$ files/tags-marketing.html [L]
RewriteRule ^blog/kings-content-marketing$ files/blog-kings-content-marketing.html [L]
RewriteRule ^tags/content-marketing$ files/tags-content-marketing.html [L]
RewriteRule ^tags/content-strategy$ files/tags-content-strategy.html [L]
RewriteRule ^tags/social-media$ files/tags-social-media.html [L]
RewriteRule ^blog/beginners-guide-content-marketing$ files/blog-beginners-guide-content-marketing.html [L]
RewriteRule ^tags/online-marketing$ files/tags-online-marketing.html [L]
RewriteRule ^tags/content-creation$ files/tags-content-creation.html [L]
RewriteRule ^tags/seo$ files/tags-seo.html [L]
RewriteRule ^blog/usability$ files/blog-usability.html [L]
RewriteRule ^blog/save-your-reverse-scrolling-settings-mouse-and-trackpad-mac-0$ files/blog-save-your-reverse-scrolling-settings-mouse-and-trackpad-mac-0.html [L]
RewriteRule ^tags/scrolling$ files/tags-scrolling.html [L]
RewriteRule ^tags/mouse$ files/tags-mouse.html [L]
RewriteRule ^tags/trackpad$ files/tags-trackpad.html [L]
RewriteRule ^tags/touchscreen$ files/tags-touchscreen.html [L]
RewriteRule ^blog/design$ files/blog-design.html [L]
RewriteRule ^blog/design-deliverables-best-practices$ files/blog-design-deliverables-best-practices.html [L]
RewriteRule ^blog/drupalcamp-yorkshire-2014-starts-tomorrow$ files/blog-drupalcamp-yorkshire-2014-starts-tomorrow.html [L]
RewriteRule ^blog/enhanced-views-and-rules-drupal-7$ files/blog-enhanced-views-and-rules-drupal-7.html [L]
RewriteRule ^blog/contributors/john$ files/blog-contributors-john.html [L]
RewriteRule ^blog/using-hooks$ files/blog-using-hooks.html [L]
RewriteRule ^blog/mobile-response-tap$ files/blog-mobile-response-tap.html [L]
RewriteRule ^tags/mobile$ files/tags-mobile.html [L]
RewriteRule ^tags/communication$ files/tags-communication.html [L]
RewriteRule ^blog/usability-web-icons$ files/blog-usability-web-icons.html [L]
RewriteRule ^blog/guerrilla$ files/blog-guerrilla.html [L]
RewriteRule ^blog/creating-hooks$ files/blog-creating-hooks.html [L]
RewriteCond %{QUERY_STRING} ^page=1$
RewriteRule ^blog/drupal-development$ files/blog-drupal-development-page-1.html [L]
RewriteRule ^blog/clone-drupal-git-repo-and-set-it-locally$ files/blog-clone-drupal-git-repo-and-set-it-locally.html [L]
RewriteRule ^blog/using-sourcetree-and-acquia-dev-desktop-drupal$ files/blog-using-sourcetree-and-acquia-dev-desktop-drupal.html [L]
RewriteRule ^blog/merge-and-push-changes-git$ files/blog-merge-and-push-changes-git.html [L]
RewriteCond %{QUERY_STRING} ^page=2$
RewriteRule ^blog/drupal-development$ files/blog-drupal-development-page-2.html [L]
RewriteRule ^blog/contributors/pete$ files/blog-contributors-pete.html [L]
RewriteRule ^blog/helping-local-children-get-grips-coding$ files/blog-helping-local-children-get-grips-coding.html [L]
RewriteRule ^https://web.archive.org/blog/contributors$ files/https-web.archive.org-blog-contributors.html [L]
RewriteRule ^blog/top-digital-business-chooses-curve-partner$ files/blog-top-digital-business-chooses-curve-partner.html [L]
RewriteRule ^blog/perfect-progression$ files/blog-perfect-progression.html [L]
RewriteRule ^blog/moving-configuration-d8$ files/blog-moving-configuration-d8.html [L]
RewriteRule ^blog/strategy-management/kings-content-marketing-and-social-media$ files/blog-strategy-management-kings-content-marketing-and-social-media.html [L]
RewriteRule ^blog/strategy-management/\/sites\/all\/modules\/radioactivity\/emit.php$ files/blog-strategy-management-\-sites\-all\-modules\-radioactivity\-emit.html [L]
RewriteRule ^blog/strategy-management/\/sites\/all\/modules\/radioactivity\/*$ files/blog-strategy-management-\-sites\-all\-modules\-radioactivity\.html [L]
RewriteRule ^blog/business-stuff$ files/blog-business-stuff.html [L]
RewriteCond %{QUERY_STRING} ^search=&page=1$
RewriteRule ^blog/business-stuff$ files/blog-business-stuff-search-page-1.html [L]
RewriteRule ^blog/nav-burger-alternatives$ files/blog-nav-burger-alternatives.html [L]
RewriteRule ^blog/front-end$ files/blog-front-end.html [L]
RewriteRule ^blog/sass-architecture-right-way-0$ files/blog-sass-architecture-right-way-0.html [L]
RewriteRule ^blog/drupal8-theming-twig-grunt-sass$ files/blog-drupal8-theming-twig-grunt-sass.html [L]
RewriteCond %{QUERY_STRING} ^page=1$
RewriteRule ^blog/front-end$ files/blog-front-end-page-1.html [L]
RewriteCond %{QUERY_STRING} ^page=2$
RewriteRule ^blog/front-end$ files/blog-front-end-page-2.html [L]
RewriteRule ^blog/digital-strategy$ files/blog-digital-strategy.html [L]
RewriteCond %{QUERY_STRING} ^search=&page=1$
RewriteRule ^blog/digital-strategy$ files/blog-digital-strategy-search-page-1.html [L]
RewriteRule ^blog/user-experience-design$ files/blog-user-experience-design.html [L]
RewriteCond %{QUERY_STRING} ^page=1$
RewriteRule ^blog/user-experience-design$ files/blog-user-experience-design-page-1.html [L]
RewriteRule ^drupal-case-studies$ files/drupal-case-studies.html [L]
RewriteRule ^drupal-case-studies/responsive-drupal-website-relate-uk$ files/drupal-case-studies-responsive-drupal-website-relate-uk.html [L]
RewriteRule ^case-studies/web-based-mobile-app-resource-efficient-scotland$ files/case-studies-web-based-mobile-app-resource-efficient-scotland.html [L]
RewriteRule ^drupal-case-studies/asylum-information-database$ files/drupal-case-studies-asylum-information-database.html [L]
RewriteRule ^case-studies/nationwide-accident-repair-services$ files/case-studies-nationwide-accident-repair-services.html [L]
RewriteRule ^drupal-case-studies/agg-net$ files/drupal-case-studies-agg-net.html [L]
RewriteRule ^case-studies/orange-tree-theatre-website$ files/case-studies-orange-tree-theatre-website.html [L]
RewriteRule ^case-studies/prashad-restaurant$ files/case-studies-prashad-restaurant.html [L]
RewriteRule ^blog$ files/blog.html [L]
RewriteCond %{QUERY_STRING} ^page=1$
RewriteRule ^blog$ files/blog-page-1.html [L]
RewriteCond %{QUERY_STRING} ^page=2$
RewriteRule ^blog$ files/blog-page-2.html [L]
RewriteCond %{QUERY_STRING} ^page=4$
RewriteRule ^blog$ files/blog-page-4.html [L]
RewriteCond %{QUERY_STRING} ^page=7$
RewriteRule ^blog$ files/blog-page-7.html [L]
RewriteCond %{QUERY_STRING} ^page=9$
RewriteRule ^blog$ files/blog-page-9.html [L]
RewriteRule ^blog/sass-and-drupal-brief-introduction$ files/blog-sass-and-drupal-brief-introduction.html [L]
RewriteCond %{QUERY_STRING} ^page=12$
RewriteRule ^blog$ files/blog-page-12.html [L]
RewriteRule ^blog/top-drupal-sites$ files/blog-top-drupal-sites.html [L]
RewriteCond %{QUERY_STRING} ^page=14$
RewriteRule ^blog$ files/blog-page-14.html [L]
RewriteRule ^blog/responsive-images-drupal-7$ files/blog-responsive-images-drupal-7.html [L]
RewriteCond %{QUERY_STRING} ^page=15$
RewriteRule ^blog$ files/blog-page-15.html [L]
RewriteRule ^blog/tweet-eat-cake-and-well-donate-money-charity$ files/blog-tweet-eat-cake-and-well-donate-money-charity.html [L]
RewriteRule ^tags/tweet$ files/tags-tweet.html [L]
RewriteRule ^tags/cake$ files/tags-cake.html [L]
RewriteRule ^tags/product$ files/tags-product.html [L]
RewriteRule ^tags/charity$ files/tags-charity.html [L]
RewriteRule ^tags/innovation$ files/tags-innovation.html [L]
RewriteRule ^tags/social$ files/tags-social.html [L]
RewriteRule ^tags/christmas$ files/tags-christmas.html [L]
RewriteCond %{QUERY_STRING} ^page=13$
RewriteRule ^blog$ files/blog-page-13.html [L]
RewriteCond %{QUERY_STRING} ^page=10$
RewriteRule ^blog$ files/blog-page-10.html [L]
RewriteRule ^blog/drupalcon-prague-2013-keynote-web-governance-strategy$ files/blog-drupalcon-prague-2013-keynote-web-governance-strategy.html [L]
RewriteRule ^tags/keynote$ files/tags-keynote.html [L]
RewriteRule ^blog/keynote-state-drupal-8$ files/blog-keynote-state-drupal-8.html [L]
RewriteRule ^blog/contributors/Peter$ files/blog-contributors-peter.html [L]
RewriteRule ^blog/contributors/18$ files/blog-contributors-18.html [L]
RewriteRule ^blog/contributors/211$ files/blog-contributors-211.html [L]
RewriteCond %{QUERY_STRING} ^page=1$
RewriteRule ^blog/contributors/211$ files/blog-contributors-211-page-1.html [L]
RewriteCond %{QUERY_STRING} ^page=2$
RewriteRule ^blog/contributors/211$ files/blog-contributors-211-page-2.html [L]
RewriteCond %{QUERY_STRING} ^page=3$
RewriteRule ^blog/contributors/211$ files/blog-contributors-211-page-3.html [L]
RewriteCond %{QUERY_STRING} ^page=4$
RewriteRule ^blog/contributors/211$ files/blog-contributors-211-page-4.html [L]
RewriteCond %{QUERY_STRING} ^page=5$
RewriteRule ^blog/contributors/211$ files/blog-contributors-211-page-5.html [L]
RewriteCond %{QUERY_STRING} ^page=6$
RewriteRule ^blog/contributors/211$ files/blog-contributors-211-page-6.html [L]
RewriteCond %{QUERY_STRING} ^page=7$
RewriteRule ^blog/contributors/211$ files/blog-contributors-211-page-7.html [L]
RewriteRule ^blog/architecture-scalable-drupal-theme$ files/blog-architecture-scalable-drupal-theme.html [L]
RewriteCond %{QUERY_STRING} ^page=1$
RewriteRule ^blog/contributors/18$ files/blog-contributors-18-page-1.html [L]
RewriteCond %{QUERY_STRING} ^page=2$
RewriteRule ^blog/contributors/18$ files/blog-contributors-18-page-2.html [L]
RewriteCond %{QUERY_STRING} ^page=3$
RewriteRule ^blog/contributors/18$ files/blog-contributors-18-page-3.html [L]
RewriteCond %{QUERY_STRING} ^page=4$
RewriteRule ^blog/contributors/18$ files/blog-contributors-18-page-4.html [L]
RewriteCond %{QUERY_STRING} ^page=5$
RewriteRule ^blog/contributors/18$ files/blog-contributors-18-page-5.html [L]
RewriteCond %{QUERY_STRING} ^page=6$
RewriteRule ^blog/contributors/18$ files/blog-contributors-18-page-6.html [L]
RewriteCond %{QUERY_STRING} ^page=7$
RewriteRule ^blog/contributors/18$ files/blog-contributors-18-page-7.html [L]
RewriteRule ^blog/contributors/16$ files/blog-contributors-16.html [L]
RewriteRule ^blog/session-automated-acceptance-tests-behat$ files/blog-session-automated-acceptance-tests-behat.html [L]
RewriteRule ^tags/nathan-lisgo$ files/tags-nathan-lisgo.html [L]
RewriteRule ^tags/nlisgo$ files/tags-nlisgo.html [L]
RewriteRule ^tags/automation$ files/tags-automation.html [L]
RewriteRule ^tags/deliverables$ files/tags-deliverables.html [L]
RewriteRule ^tags/requirements$ files/tags-requirements.html [L]
RewriteRule ^blog/contributors/124$ files/blog-contributors-124.html [L]
RewriteRule ^blog/power-drupal-contributed-modules-and-how-extend-them$ files/blog-power-drupal-contributed-modules-and-how-extend-them.html [L]
RewriteRule ^blog/contributors/Craig$ files/blog-contributors-craig.html [L]
RewriteRule ^tags/module-development$ files/tags-module-development.html [L]
RewriteRule ^tags/php$ files/tags-php.html [L]
RewriteRule ^blog/results-day-advice-curve-team$ files/blog-results-day-advice-curve-team.html [L]
RewriteRule ^tags/advice$ files/tags-advice.html [L]
RewriteRule ^tags/results$ files/tags-results.html [L]
RewriteRule ^tags/careers$ files/tags-careers.html [L]
RewriteRule ^blog/contributors/160$ files/blog-contributors-160.html [L]
RewriteRule ^blog/news$ files/blog-news.html [L]
RewriteRule ^blog/contributors/112$ files/blog-contributors-112.html [L]
RewriteCond %{QUERY_STRING} ^page=1$
RewriteRule ^blog/contributors/112$ files/blog-contributors-112-page-1.html [L]
RewriteCond %{QUERY_STRING} ^page=2$
RewriteRule ^blog/contributors/112$ files/blog-contributors-112-page-2.html [L]
RewriteCond %{QUERY_STRING} ^page=3$
RewriteRule ^blog/contributors/112$ files/blog-contributors-112-page-3.html [L]
RewriteCond %{QUERY_STRING} ^page=4$
RewriteRule ^blog/contributors/112$ files/blog-contributors-112-page-4.html [L]
RewriteCond %{QUERY_STRING} ^page=5$
RewriteRule ^blog/contributors/112$ files/blog-contributors-112-page-5.html [L]
RewriteCond %{QUERY_STRING} ^page=6$
RewriteRule ^blog/contributors/112$ files/blog-contributors-112-page-6.html [L]
RewriteCond %{QUERY_STRING} ^page=7$
RewriteRule ^blog/contributors/112$ files/blog-contributors-112-page-7.html [L]
RewriteRule ^blog/setting-bitbucket-mac-osx$ files/blog-setting-bitbucket-mac-osx.html [L]
RewriteRule ^tags/bitbucket$ files/tags-bitbucket.html [L]
RewriteRule ^tags/osx$ files/tags-osx.html [L]
RewriteRule ^blog/contributors/165$ files/blog-contributors-165.html [L]
RewriteRule ^blog/meet-team-examples-recommendations$ files/blog-meet-team-examples-recommendations.html [L]
RewriteRule ^blog/contributors/Simon$ files/blog-contributors-simon.html [L]
RewriteRule ^blog/contributors/17$ files/blog-contributors-17.html [L]
RewriteRule ^blog/contributors/emmanuelburton$ files/blog-contributors-emmanuelburton.html [L]
RewriteRule ^blog/contributors/126$ files/blog-contributors-126.html [L]
RewriteRule ^blog/contributors/128$ files/blog-contributors-128.html [L]
RewriteRule ^blog/contributors/carley$ files/blog-contributors-carley.html [L]
RewriteRule ^curvecake$ files/curvecake.html [L]
RewriteRule ^blog/welcome-new-curve-team-members$ files/blog-welcome-new-curve-team-members.html [L]
RewriteRule ^blog/resources$ files/blog-resources.html [L]
RewriteRule ^blog/contributors/88$ files/blog-contributors-88.html [L]
RewriteRule ^blog/happy-birthday-curve$ files/blog-happy-birthday-curve.html [L]
RewriteRule ^tags/panoetic$ files/tags-panoetic.html [L]
RewriteRule ^tags/company$ files/tags-company.html [L]
RewriteRule ^tags/birthday$ files/tags-birthday.html [L]
RewriteRule ^tags/history$ files/tags-history.html [L]
RewriteRule ^tags/bradford$ files/tags-bradford.html [L]
RewriteRule ^tags/leeds$ files/tags-leeds.html [L]
RewriteRule ^blog/business-stuff/espresso-agency-style-0$ files/blog-business-stuff-espresso-agency-style-0.html [L]
RewriteRule ^tags/tea$ files/tags-tea.html [L]
RewriteRule ^tags/coffee$ files/tags-coffee.html [L]
RewriteRule ^tags/espresso$ files/tags-espresso.html [L]
RewriteRule ^tags/client-services$ files/tags-client-services.html [L]
RewriteRule ^tags/account-management$ files/tags-account-management.html [L]
RewriteRule ^blog/contributors/19$ files/blog-contributors-19.html [L]
RewriteRule ^blog/contributors/rob$ files/blog-contributors-rob.html [L]
RewriteRule ^blog/design/design-discussion-blitz-memorabilia$ files/blog-design-design-discussion-blitz-memorabilia.html [L]
RewriteRule ^tags/blitz$ files/tags-blitz.html [L]
RewriteRule ^tags/memorabilia$ files/tags-memorabilia.html [L]
RewriteRule ^tags/war$ files/tags-war.html [L]
RewriteRule ^tags/artwork$ files/tags-artwork.html [L]
RewriteRule ^tags/wartime$ files/tags-wartime.html [L]
RewriteRule ^blog/business-stuff/navigating-cloud$ files/blog-business-stuff-navigating-cloud.html [L]
RewriteRule ^blog/contributors/Rob$ files/blog-contributors-rob.html [L]
RewriteRule ^tags/file-sharing$ files/tags-file-sharing.html [L]
RewriteRule ^tags/drupal8$ files/tags-drupal8.html [L]
RewriteRule ^tags/strategy$ files/tags-strategy.html [L]
RewriteRule ^tags/vision$ files/tags-vision.html [L]
RewriteRule ^tags/dries-buytaert$ files/tags-dries-buytaert.html [L]
RewriteRule ^tags/drupalcon$ files/tags-drupalcon.html [L]
RewriteRule ^blog/creating-simple-template-selection-system-within-drupal$ files/blog-creating-simple-template-selection-system-within-drupal.html [L]
RewriteRule ^tags/templates$ files/tags-templates.html [L]
RewriteRule ^tags/layouts$ files/tags-layouts.html [L]
RewriteRule ^tags/taxonomy$ files/tags-taxonomy.html [L]
RewriteCond %{QUERY_STRING} ^page=11$
RewriteRule ^blog$ files/blog-page-11.html [L]
RewriteRule ^blog/quick-tour-round-deanston-distillery-scotland$ files/blog-quick-tour-round-deanston-distillery-scotland.html [L]
RewriteRule ^tags/distillery$ files/tags-distillery.html [L]
RewriteRule ^tags/whiskey$ files/tags-whiskey.html [L]
RewriteRule ^tags/scotland$ files/tags-scotland.html [L]
RewriteCond %{QUERY_STRING} ^page=8$
RewriteRule ^blog$ files/blog-page-8.html [L]
RewriteCond %{QUERY_STRING} ^page=16$
RewriteRule ^blog$ files/blog-page-16.html [L]
RewriteRule ^about-curve$ files/about-curve.html [L]
RewriteRule ^project-enquiry$ files/project-enquiry.html [L]
# END OldUrls

</ifmodule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
