/*
	Styles specific to IE
*/
/*
	List colours, mixins etc. Brand stuff etc. All SCSS goodness.
*/
.main-footer .quarter {
  float: left;
  width: 18%;
  margin: 0 5% 0 0; }

.main-footer .quarter:last-child {
  margin: 0; }

.primary-nav .top-level > a {
  font-size: 1.6em; }

.smallprint-footer p {
  width: 50%; }

.smallprint-footer img {
  max-width: 40%;
  height: auto;
  margin: 0; }

.signup h1,
.signup h2,
.signup h3,
.signup h4,
.signup h5,
.signup h6 {
  left: 175px;
  top: 20px;
  margin: 0 0 20px 0; }

.signup .form {
  margin-left: 130px;
  padding-left: 85px; }

.signup p {
  left: 220px;
  width: 59%; }

.signup a.cta {
  left: 220px;
  width: 30%; }

.signup img {
  display: block; }

.tab-contents {
  border: none; }

.tab-content .half {
  width: 44%;
  float: left;
  margin: 0 4% 0 0;
  padding: 0 3% 0 0;
  border-right: dotted 1px #e1e1e1; }

.tab-content .half:last-child {
  margin-right: 0;
  border: none;
  padding-right: 0;
  width: 45%; }

a.alt-tab-nav {
  display: none; }

.tab-nav {
  overflow: hidden;
  display: block; }

.home .tab-nav li {
  width: 33%; }

.tabs {
  margin-top: 5px; }

.home_grid,
.sub_grid,
.sub_sub_grid_1,
.sub_sub_grid_2,
.sub_sub_grid_alt_1,
.sub_sub_grid_alt_2 {
  float: left; }

.home_grid_1 {
  width: 69%;
  margin-right: 2%; }

.home_grid_2 {
  width: 29%; }

.rslides_nav {
  display: block; }

.home .gutter {
  height: 35px; }

.gutter {
  height: 60px; }

.home #intro .slides aside .cta,
.subpage #intro aside .cta {
  font-size: 1.8em; }

#wrapper {
  padding: 0 24px; }

.home #intro .slides aside {
  background: url("../img/white-box-bg.png") center center; }

.home #intro .slides aside .white-box {
  padding: 5% 8%;
  height: 80%; }

.home #intro .slides aside .white-box {
  margin: 10px 10px 10px 20px; }

.home #intro .slides aside p.intro {
  line-height: 1.4em;
  font-size: 2.6em;
  margin: 6% 0; }

.home #intro .slides aside h1,
.home #intro .slides aside h2,
.home #intro .slides aside h3,
.home #intro .slides aside h4,
.home #intro .slides aside h5,
.home #intro .slides aside h6 {
  font-size: 4em;
  display: block;
  margin: 0 0 0 -60px; }

.home #intro {
  max-height: 345px;
  overflow: hidden; }

.primary-nav {
  position: relative; }

#header {
  text-align: left; }

.ie7 #header {
  position: relative;
  z-index: 400; }

.primary-nav label {
  display: none; }

.primary-nav .search {
  background: url("../img/nav-left.gif") center left repeat-y #00a1c1; }

.primary-nav .search input[type="text"] {
  width: 50%; }

.no-touch .primary-nav .top-level:hover .megamenu {
  display: block; }

.megamenu {
  visibility: visible;
  z-index: 400; }

.primary-nav .top-level > a {
  padding: 18px 0;
  border-bottom: none; }

.primary-nav .top-level > a:hover,
.primary-nav .top-level.active > a {
  background: #505253;
  border-top: 5px solid #00a1c1;
  margin-top: -5px; }

.primary-nav .top-level.active-menu-item > a {
  background: #f3f3f3;
  color: #00a1c1;
  border-top: 5px solid #00a1c1;
  margin-top: -5px; }

.primary-nav > ul {
  width: 65%;
  float: left;
  display: block;
  position: static;
  background: #737373; }

.primary-nav .search input[type="submit"] {
  background: url("../img/icon-search.png") center center no-repeat #505253;
  /*Fallback*/
  background: url("../img/icon-search.png") center center no-repeat rgba(80, 82, 83, 0.5);
  bottom: 0;
  right: 6%;
  height: 80px;
  width: 20%; }

.primary-nav .search {
  border-top: solid 15px #00a1c1;
  margin-top: -15px;
  width: 35%;
  float: left;
  height: 52px; }

.ie7 .primary-nav {
  overflow: visible; }

.ie7 .primary-nav .top-level > a {
  overflow: visible; }

.ie7 .primary-nav > ul {
  overflow: visible; }

.primary-nav > ul > li {
  float: left;
  width: 22.5%; }

.ie7 .primary-nav > ul > li {
  width: 22.3%;
  overflow: visible; }

.primary-nav ul li.home {
  width: 10%; }

.primary-nav ul li.home > a {
  overflow: hidden;
  text-indent: -9999px;
  background: url("../img/icon-home.png") center center no-repeat #737373; }

.primary-nav ul li.home > a:hover {
  background: url("../img/icon-home.png") center center no-repeat #00a1c1;
  border-top: none;
  margin-top: 0; }

.primary-nav ul li.home.active > a,
.primary-nav ul li.home.active-menu-item > a {
  background: url("../img/icon-home.png") center center no-repeat #00a1c1;
  border-top: none;
  margin-top: 0; }

/**/
.signup label {
  /*float: left;*/
  /*width: 25%;*/
  /*text-align: right;*/
  padding: 10px;
  margin-right: 2%; }

.signup input[type="text"],
.signup span.customSelect {
  width: 60%; }

.ie7 .signup input[type="text"],
.ie7 .signup span.customSelect {
  width: 60%;
  clear: none;
  margin-top: 4px; }

.tab-contents .needs .pod {
  padding-left: 75px;
  background-position: left top; }

.tab-nav a span[class^="icon-icon-"] {
  display: inline; }

.tab-nav a span.desc {
  display: block; }

.tab-content {
  min-height: 300px; }

.home #intro img {
  width: 63%; }

.home #intro .slides aside {
  width: 45%;
  height: 90%; }

.home #intro .slides aside .white-box {
  height: 80%; }

.tab-contents .services .pod img {
  display: block; }

footer .main-footer {
  background-image: url("../img/logo-watermark.png");
  background-repeat: no-repeat;
  background-position: right bottom; }

.tab-contents .services .pod h1,
.tab-contents .services .pod h2,
.tab-contents .services .pod h3,
.tab-contents .services .pod h4,
.tab-contents .services .pod h5,
.tab-contents .services .pod h6 {
  top: 0;
  display: block;
  position: relative;
  left: 25%;
  width: 64%;
  top: -100px; }

.tab-contents .locations .pod h1,
.tab-contents .locations .pod h2,
.tab-contents .locations .pod h3,
.tab-contents .locations .pod h4,
.tab-contents .locations .pod h5,
.tab-contents .locations .pod h6 {
  top: 0;
  display: block;
  position: relative;
  left: 25%;
  width: 64%;
  top: -185px; }

.ie7 .tab-content .half,
.ie7 .related .half {
  width: 45%;
  float: left;
  margin: 0 4% 0 0;
  padding: 0 3% 0 0;
  border-right: dotted 1px #e1e1e1; }

.tab-contents .locations .pod p {
  margin-left: 110px;
  margin-top: -170px; }

.tab-contents .locations .cta {
  margin-left: 110px; }

.tab-contents .services .pod p {
  margin-left: 110px;
  margin-top: -90px; }

.callout.news ul > li,
.callout.events ul > li {
  padding: 0 0 9px 50px; }

.callout.news ul > li {
  background: url("../img/icon-news.png") 10px top no-repeat; }

.callout.events ul > li {
  background: url("../img/icon-event.png") 10px top no-repeat; }

.subpage #intro img {
  margin-left: 1%;
  margin-top: 1%; }

.sub_grid_1 {
  margin-right: 4%;
  width: 22%; }

.sub_grid_2 {
  width: 74%; }

.third {
  width: 31.33%;
  float: left;
  margin-right: 2%; }

.ie7 .third {
  width: 31%;
  float: left;
  margin-right: 2%; }

.subpage #intro h1,
.subpage #intro h2,
.subpage #intro h3,
.subpage #intro h4,
.subpage #intro h5,
.subpage #intro h6 {
  font-size: 3.2em; }

.ie7 .staff img {
  /*width: 100px;*/ }

.staff .content p {
  display: block; }

.sub_sub_grid_1 {
  margin-right: 4%;
  width: 66%; }

.sub_sub_grid_2 {
  width: 30%; }

.ie7 .sub_sub_grid_2 {
  width: 26%; }

.staff {
  width: 23%;
  margin: 0 10% 20px 0;
  clear: none; }

.staff:nth-child(2n) {
  margin-right: 10%; }

.staff:nth-child(2n+1) {
  clear: none; }

.staff .content {
  position: absolute; }

.rel-link {
  width: 45%;
  margin-right: 2%;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  clear: none; }

.sub_sub_grid_1 .half {
  width: 45%;
  float: left;
  margin-right: 5%; }

.ie7 .sub_sub_grid_1 .half {
  width: 43%;
  float: left;
  margin-right: 5%; }

.big-num {
  background: url("../img/big-tel.png") no-repeat top left;
  padding: 0 0 0 65px !important;
  min-height: 60px; }

.small-num {
  background: url("../img/small-tel.png") no-repeat top left;
  padding: 0 0 0 45px !important;
  min-height: 35px;
  margin: 10px 0 10px 0 !important; }

.small-email a {
  display: block;
  background: url("../img/small-email.png") no-repeat top left;
  padding: 0 0 0 45px !important;
  min-height: 35px;
  line-height: 2.2em;
  margin: 10px 0 10px 0 !important; }

a.contact-footer {
  position: absolute;
  background: url("../img/icon-tel.png") no-repeat center right;
  padding: 12px 10px 12px 10px;
  right: 1%;
  top: 8px;
  width: 95px; }

.signoff-footer nav {
  padding-left: 25%; }

.textonly .half,
.sub_sub_grid_alt_2 > .half {
  width: 45%;
  float: left;
  margin-right: 5%; }

.sub_sub_grid_alt_2 .half,
.callout .date {
  float: left; }

.sub_sub_grid_alt_1 {
  margin-right: 4%;
  width: 30%; }

.sub_sub_grid_alt_2 {
  width: 64%;
  margin-right: 1%; }

.cover .callout.news ul > li,
.cover .callout.events ul > li,
.cover .callout .half ul > li {
  padding: 0 0 9px 0;
  background: none; }
